.text{
    width: 123px;
    margin: 0 auto;
    font-size: 40px;
}                                                                                                                                       